extends layout

block content
  script(src="https://cdn.auth0.com/js/lock-9.0.js")

  div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")

  script.
    var lock = new Auth0Lock('3ig9zEWFISwvFPWaVNtIowiK6VaxtfnE', 'flexhub.auth0.com');
    lock.show({
        container: 'root'
      , callbackURL: 'http://localhost:3000/dashboard/callback'
      , responseType: 'code'
      , authParams: {
        scope: 'openid name email picture'
      }
    });
